.main_panel { margin-left:20px; margin-top:0; margin-right:auto;width:650px; font-size:11px }
.main_panel td:first-child{ width:180px; vertical-align:top }
.main_panel input[type=text] { width: 250px; }
.main_panel select { width: 260px; padding:5px }
#other_name_box { text-align:right;padding-top:10px;min-height:30px }
input { font-size:11px; padding:2px }
#sighting input { font-size:11px;border: solid 1px #777777; padding:5px }
#sighting td { font-size:13px; }
select { font-size 11px; border: solid 1px #777777;  }
select option { padding:2px; font-size:11px; }
textarea { font-size:11px;border: solid 1px #777777; padding:5px }
.sidebar { border:solid 1px #333 }
.addsighting_loc { text-align:right }
.main_panel{ vertical-align:top}
#sighting_checkbox { width:250px;}
#addCurrentLocation { width:380px; }
.main_panel textarea{ width: 400px; height:30px }
.species_table{ width:900px;margin-left:20px;font-size:11px; }
.species_table select{ width:120px; }
.species_table textarea{ width:180px; height:20px }
